---
layout: base
---
{%- include vars.html -%}
{% include sections/hero.html %}
{% include sections/path.html %}
{% include sections/proof.html %}
{% include sections/reel.html %}
{% include sections/research.html %}
{% include sections/works.html %}
{% include sections/comms.html %}
{% include sections/agents.html %}
{% include sections/papers.html %}
{% include sections/writing.html %}
{% include sections/background.html %}
{% include sections/earlier.html %}
{% include sections/contact.html %}
